---
interface Props {
  name: string;
  id: number;
  imageCnt: number;
}

const { id, name, imageCnt } = Astro.props;
const href = `/tila/${id}`;
const transitionName = "card-" + id;

---

<div
  class="hover:opacity-75 col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-amber-300 dark:bg-gray-600 shadow-lg"
  transition:name={transitionName}
>
  <a href={href} class="p-4">
    <h2 class="text-xl">{name}</h2>
    <p class="text-sm text-amber-900 dark:text-gray-300">{imageCnt} {imageCnt === 1 ? 'kuva' : 'kuvaa'}</p>
  </a>
</div>
