---
interface Props {
  name: string;
  id: number;
  link: string;
  imageCnt: number;
  author?: string;
  createdAt?: string;
}

const { id, name, imageCnt, link, author, createdAt } = Astro.props;
const transitionName = "card-" + id;

---

<div
  class="hover:opacity-75 col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-amber-300 dark:bg-gray-600 shadow-lg"
  transition:name={transitionName}
>
  <a href={link} class="p-4">
    <h2 class="text-xl">{name}</h2>
    <p class="text-lg text-amber-900 dark:text-gray-300">{imageCnt} {imageCnt === 1 ? 'kuva' : 'kuvaa'}</p>
    {author && (<div class="my-4 border-b border-dashed border-b-amber-100 dark:border-slate-400 shadow-xl"/><p class="text-sm text-amber-900 dark:text-gray-300">Tekijä: {author}</p>)}
    {createdAt && <p class="text-sm text-amber-900 dark:text-gray-300">Luotu: {createdAt}</p>}
  </a>
</div>
