---
interface Props {
  imageId: string;
  filename: string;
  userName: string;
  width?: number;
  title?: string | null;
  gridsize?: string | null;
  editmode?: boolean;
}

const { imageId, filename, userName, width, title, gridsize, editmode } =
  Astro.props;

const variant = width ? "w=" + width : "public";
const imageSrc = `https://imagedelivery.net/RUkpPV9lzZPhEDf5OZFR8A/${imageId}/${variant}`;
---

<div
  class={`group ${variant !== 'public' ? 'aspect-h-7 aspect-w-10' : ''} block w-full overflow-hidden bg-white rounded-t-lg shadow-lg`}
>
  <img
    src={imageSrc}
    alt={title || filename}
    class={`${variant !== "public" ? " object-cover group-hover:opacity-75" : "w-full"}`}
  />
</div>
<div class="p-4 bg-gradient-to-t from-gray-100 from-50% to-white dark:from-slate-50 dark:to-slate-300 rounded-b-lg shadow-lg">
  {
    !editmode && (
        <h2 class="text-lg font-bold text-gray-800">{title || filename}</h2>
        <div class="flex items-center justify-between">
          <p class="text-gray-600">
            Tekijä: {userName}
          </p>
          {gridsize && (
              <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300">{gridsize}</span>
          )}
        </div>
    )
  }
  <slot />
</div>
